<div style="overflow: scroll;
position: relative;">
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>

</div>