<p>
    <mat-toolbar color="primary">
        <span class="title ctas">
            <button [routerLink]="'/welcome'" mat-flat-button class="fab" color="primary">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </span>
        <span class="title">Register to Lemon</span>
    </mat-toolbar>
</p>
<div>
    <div class="container">
        <form [formGroup]="userForm" #formDir="ngForm">
            <div class="field-container">
                <div class="form-group input-field">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your name</mat-label>
                        <input id="name" matInput placeholder="E.g. John Smith" formControlName="name" required>
                        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                            <div *ngIf="name.errors?.['required']">
                                Name is required.
                            </div>
                            <div *ngIf="name.errors?.['minlength']">
                                Name must be at least 2 characters long
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group input-field">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input id="email" matInput placeholder="E.g. me@email.com" formControlName="email" email="true" required>
                        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                            <div *ngIf="email.errors?.['required']">
                                Email is required.
                            </div>
                            <div *ngIf="email.errors?.['email']">
                                Email is invalid.
                            </div>
                            <div *ngIf="email.errors?.['minlength']">
                                Name must be at least 2 characters long
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group input-field">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input id="password" type="password" matInput placeholder="Use a strong password" formControlName="password"
                            required>
                        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)"
                            class="alert alert-danger">
                            <div *ngIf="password.errors?.['required']">
                                Password is required.
                            </div>
                            <div *ngIf="password.errors?.['minlength']">
                                Name must be at least 8 characters long
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <br>
                <div class="form-group input-field">
                    <mat-checkbox id="termsAndPrivacy" formControlName="termsAndPrivacy" required>By registering you
                        agree with the <a href="https://google.com">Terms and Conditions</a> and <a
                            href="https://google.com">Privacy Policy</a>.</mat-checkbox>
                    <mat-error *ngIf="termsAndPrivacy.invalid && (termsAndPrivacy.dirty || termsAndPrivacy.touched)"
                        class="alert alert-danger">
                        <div *ngIf="termsAndPrivacy.errors?.['required']">
                            To register you must accept the terms
                        </div>
                    </mat-error>
                </div>
                <br>
                <br>
                <div class="center">
                    <button type="submit" mat-raised-button [disabled]="userForm.invalid || isLoading"
                        color="primary">CREATE MY ACCOUNT</button>
                </div>
            </div>
        </form>
    </div>

</div>