footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 500px;
}

mat-toolbar {
    background-color: black !important;
    display: flex;
    justify-content: space-around;
}

img {
    border-radius: 50%;
    width: 45px;
}
