<footer class="footer">
  <mat-toolbar color="primary">
    <button (click)="onItemClick('home')" mat-icon-button color="basic"
      aria-label="Example icon button with a home icon">
      <mat-icon class="mat-icon-selected">home</mat-icon>
    </button>
    <button (click)="onItemClick('recipies')" mat-icon-button color="basic"
      aria-label="Example icon button with a home icon">
      <mat-icon>menu_book</mat-icon>
    </button>
    <button (click)="onItemClick('diets')" mat-icon-button color="basic"
      aria-label="Example icon button with a home icon">
      <mat-icon>local_dining</mat-icon>
    </button>
    <button (click)="onItemClick('products')" mat-icon-button color="basic"
      aria-label="Example icon button with a home icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <img (click)="onItemClick('profile')"
      src="https://media-exp1.licdn.com/dms/image/C4E03AQGUeRiwt7pkXg/profile-displayphoto-shrink_200_200/0/1594934664620?e=1633564800&v=beta&t=Zmvw8vCiMJ0ylLXlCGTE54v7Xzg3Zpzdmbtr7mvCK6E"
      alt="Avatar">
  </mat-toolbar>
  <button (click)="onItemClick('add')" class="fab" mat-fab color="primary" aria-label="Example icon button with a menu icon">
    <mat-icon>add</mat-icon>
  </button>
</footer>