.container {
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.body-field mat-label {
    color: black;
}

.body-field .mat-input-element {
    color: black;
}

.body-field .mat-input-element::placeholder {
    color: black;
}

.field-container {
    padding: 10px;
    box-shadow: 0 0 10px #dfdfdf;
}

::ng-deep .mat-select-arrow {
    color: black;
}

.avatar-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.my-posts {
    text-align: left;
}

mat-card {
    margin: 10px;
    padding: 0px;
    text-align: left;
}

.text {
    padding: 15px;
    white-space: pre;
}

.carouse-img {
    object-fit: cover !important;
    max-height: 170px !important;
    min-height: 170px !important;
    margin: 0 !important;
    width: 100%;
    min-width: 230px;
}

.header-image {
    background-size: cover;
}

mat-card-header {
    padding: 15px 0 0 15px;
}

.like {
    display: flex;
    padding: 15px;
    font-weight: bold;
}

mat-icon {
    margin-left: 5px;
}

.liked {
    color: red;
}

.avatar-pencil {
    position: relative;
    top: 0;
    left: 100px;
    display: inline-block;
    background: #7b1fa2;
    padding: 5px;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
}
