.container {
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.body-field mat-label {
    color: black;
}

.body-field .mat-input-element {
    color: black;
}

.body-field .mat-input-element::placeholder {
    color: black;
}

.field-container {
    padding: 10px;
    box-shadow: 0 0 10px #dfdfdf;
}

::ng-deep .mat-select-arrow {
    color: black;
}

img {
    border-radius: 50%;
    width: 200px;
    margin-top: 50px;
}